body {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  background: url(./img/black-wood.jpg) fixed;
  background-position: right;
  max-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-size: 24px;
  color: aqua;
}

p {
  color: aqua;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 32px;
}

.searchArea {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.searchArea input {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.coinArea {
  display: grid;
  grid-template-rows: auto;
}

.coinContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px 0;
  font-family: 'Rajdhani', sans-serif;
}

.border {
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      aqua, 
      magenta
    ) 1;
}


.coinContainer img {
  width: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .coinArea {
    margin: 0 50px;
  }

}